
    .row {
      height: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      transition: 0.3s;

    }

    #EatWhere,#EatWhat{
      border: 1px solid black;
      height: 100%;
    }

    #msg {
      font-size: 36px;
      text-align: center;
    }